@using SmartConnect.Web.ViewModels.Home
@model IndexViewModel
@{
    ViewBag.Title = "Home";
}

@Html.Partial("_HeaderPartial", Model.Header)

@if(this.User.IsLoggedIn())
{
    if(this.User.HasUnreadMessages())
    {
        <div class="text-center" style="font-size:20px;background-color:Highlight;padding:20px 0;width:500px;margin-left:auto;margin-right:auto"><strong>You have unread messages.</strong> You can view them <strong>@Html.ActionLink("here", "Index", "Home", new { area = "Contacts" }, null)</strong></div>
        <br />
    }
}

@Html.Partial("_DailyQuotePartial", Model.DailyQuote)

@section styles {
    <style>
        #quote-container {
            margin-left: auto;
            margin-right: auto;
            width: 550px;
            border-radius: 20px;
        }

        #quote-inner-container {
            padding: 10px !important;
        }
    </style>
}
