@using SmartConnect.Web.ViewModels.Home
@model IndexViewModel
@{
    ViewBag.Title = "Home";
}

@Html.Partial("_HeaderPartial", Model.Header)

@if(this.User.IsLoggedIn())
{
    if(this.User.HasUnreadMessages())
    {
        <div class="panel-info">You have unread messages. You can view them @Html.ActionLink("here", "Index", "Home", new { area = "Contacts" }, null)</div>
    }
}

@Html.Partial("_DailyQuotePartial", Model.DailyQuote)

@section styles {
    <style>
        #quote-container {
            margin-left: auto;
            margin-right: auto;
            width: 550px;
            border-radius: 20px;
        }

        #quote-inner-container {
            padding: 10px !important;
        }
    </style>
}
