@using SmartConnect.Web.ViewModels.Admin.Users
@using SmartConnect.Web.ViewModels.Common
@model HeaderViewModel

@{
    ViewBag.Title = "Users";
}

@section styles{
    <style>
        .padded {
            padding: 50px;
        }
    </style>
}

@Html.Partial("_HeaderPartial", Model)
<div class="padded">
    @(Html.NoCreateGridWithEditorTemplate<AdminUserViewModel>("UsersAjaxAdministration", m => m.Id, "AdminUser", new { area = "Admin/Users" }))
</div>
@Scripts.Render("~/bundles/kendo");